* body {
	background: #FFF;
}

h3 {
	font-family: Roboto, sans-serif;
}

a {
	font-family: Roboto, sans-serif;
	text-decoration: none;
	color: #39393A;
}

a:hover {
	color: #FE5F55;
}

p {
	font-family: Gayathri, sans-serif;
	font-size: 18px;
	line-height: 22px;
}